@charset "utf-8";
html {
  color: #333;
  
}

a {
  text-decoration: none;
  color: #000;
  font-size: 11px;
}

ul,
li,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 11px;
}

#wrap {
  width: 100%;
  min-width: 1010px;
  margin: 0 auto;
  background-color: blue;
}

.banner {
  width: 100%;
  min-width: 1010px;
  max-height: 80px;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
}

.banner_left {
  background-color: rgb(219, 211, 248);
  width: 50%;
  max-height: 80px;
  padding: 34px 0;
  float: left;
}

.banner_right {
  background-color: rgb(248, 211, 228);
  width: 50%;
  max-height: 80px;
  padding: 34px 0;
  float: right;
}

.banner_ad {
  width: 1010px;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
  justify-content: center;
}

.banner_ad img {
  cursor: pointer;
}

.banner_ad .bn_ad {
  width: 950px;
  height: 100%;
}

.banner_ad .close_button {
  width: 14px;
  height: 14px;
  position: absolute;
  right: 40px;
}

header{
  width: 100%;
  background-color: red;
}

.top_center {
  width: 950px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 5px;
  background-color: yellow;
}

.top_center li {
  float: left;
  padding: 5px;
  padding-right: 5px;
}

.top_off li {
  padding-right: 10px;
}

.top_center .login a {
  border: 1px solid #ddd;
  background-color: #fff;
  padding: 2px;
}

.logo_header {
  width: 950px;
  margin: 0 auto;
  background-color: tomato;
  padding: 20px 0;
  display: flex;
}

.header_logo {
  width: 175px;
  height: 49px;
}

.header_search {
  width: 460px;
  padding:0 30px;
  position: relative;
  background-color: turquoise;
}

.header_search ul {
  padding-left: 15px;
  padding-bottom: 20px;
}

.header_search li {
  float: left;
  color: #ddd;
  padding-right: 8px;
}

.header_search li a {
  color: #000;
}

.header_search input {
  width: 95%;
  border: 3px solid #6b84e7;
  border-radius: 15px;
  color: #8294dc;
  font-size: 14px;
  font-weight: 600;
  padding: 5px 10px;
  margin-top: 5px;
}

.header_search .next_btn {
  padding-left: 5px;
  position: absolute;
  top: 0px;
  right: 50px;
}

.header_search button {
  border: none;
  color: #aaa;
  border: 1px solid #aaa;
  width: 23px;
  height: 20px;
}

.header_search img[alt="search"] {
  position: absolute;
  bottom: 15px;
  right: 55px;
  width: 30px;
  height: 25px;
  cursor: pointer;
}

.search_page2 {
  display: none;
}

.header_ch {
  position: relative;
}

.header_ch a:not(:first-child) {
  display: none;
}
